<nav class="bg-light">
	<ul class="list-group bg-light">
		<li class="list-group-item list-group-item-action active">
			<a href="/" class="text-white">Accueil</a>
		</li>

        <li class="list-group-item list-group-item-action active">
			<a href="mes-articles" class="text-white">Mes articles</a>
		</li>

        {# <li class="list-group-item list-group-item-action active">
			<a href="#" class="text-white">Gestion des articles du site</a>
		</li> #}

        <li class="list-group-item list-group-item-action active">
			<a href="gestion-commentaire" class="text-white">Gestion des commentaires</a> <span class="categorie badge badge-pill badge-primary">{{nbCommentsToReview}}</span>
		</li>
		
        <li class="list-group-item list-group-item-action active">
			<a href="#" class="text-white">Rediger un article</a>
		</li>
	</ul>
</nav>

