{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>A propos</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui molestiae, nemo aspernatur necessitatibus quo a voluptatem. Voluptatibus accusamus et laborum, mollitia odit animi repellat explicabo, alias ullam neque aliquam illo consectetur in hic voluptate! Aliquid eligendi culpa cum accusamus maiores natus nesciunt rem quasi dolorum sunt, blanditiis qui quam quo perspiciatis dolore. Dolorum, dolor! Aut dolore corporis modi commodi sit quaerat quis provident reiciendis, repudiandae est cumque quibusdam natus mollitia assumenda rerum officiis delectus. Eum voluptates sunt autem dignissimos dicta labore rerum, provident illo repudiandae similique odio, minima placeat voluptatibus alias ab id soluta repellat nulla nesciunt, natus perferendis laudantium. Quidem, vitae dignissimos similique perspiciatis autem beatae architecto dolor dolorum veritatis porro velit? Quasi quo numquam neque incidunt quos, eum culpa ullam aliquam ad facere optio labore, dolor quisquam fuga aut porro. Dolorem delectus maxime laudantium dolores dolore reiciendis animi facere, fugiat, doloribus eum nesciunt, magnam quod facilis repellat vitae fuga tenetur? Provident corporis expedita, vitae cum at molestiae omnis culpa? Vero dicta eveniet tempora rem magni id provident illum. Quisquam, dolores quibusdam ut aliquam deserunt consectetur aut explicabo? Consequatur ea, voluptatem sed vel maxime magnam nemo sint dignissimos quaerat deserunt ut provident maiores nobis necessitatibus eos sequi odio consectetur doloremque nam et assumenda dolores? Nemo animi quis saepe reprehenderit, molestiae eos, perferendis ea quas voluptatum modi alias, dolorem at minus! Ducimus rem non ut reprehenderit hic sequi! At quisquam sequi est minima odit sunt? Accusamus debitis eligendi praesentium quae dolorum. Laudantium minus aliquam corporis voluptates optio a nobis aliquid ducimus tempora facere quis reiciendis veritatis libero quidem ipsum sed, enim suscipit! Similique quaerat, nesciunt incidunt aut dolor a rerum quam harum dignissimos id in ut nisi enim, quas illo molestias modi facere non quidem iste recusandae earum. Distinctio hic quibusdam pariatur nobis corporis beatae dolorem numquam adipisci fugit esse?</p>
</div>
<a type="button" class="btn btn-primary btn-lg" href="/">Retourner à la page d'accueil</a>
{% endblock %}
