{% extends 'base.html.twig' %}

{% block title %}Contacter l'équipe du site{% endblock %}

{% block body %}

    <h1>Page de contact</h1>
    
    {{ include('contact/_form.html.twig') }}

    <a href="#">back to list</a>

{% endblock %}
