<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="/">Samir - Blog</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/a_propos">A propos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
				{% if app.user %}
					<li>
						<a href="/dashboard" class="nav-link">
							Dashboard</a>
					</li>

					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link" href="/admin/dashboard">
								Dashboard admin</a>
						</li>
					{% endif %}
					<li class="nav-item">

						<span class="nav-link">
							Connecté en tant que
							{{ app.user.pseudo }}</span>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
					</li>

				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="#">Créer un compte</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
					</li>
				{% endif %}


			</ul>
		</div>
	</nav>
</header>
