<nav class="bg-light">
	<ul class="list-group bg-light">
		<li class="list-group-item list-group-item-action active">
			<a href="/dashboard/home" class="text-white">Accueil</a>
		</li>
		<li class="list-group-item list-group-item-action">
			<a href="/dashboard/account-info" class="text-white">Infos Personnelles</a>
		</li>
		<li class="list-group-item list-group-item-action">
			<a href="/dashboard/password-edit" class="text-white">Mot de passe</a>
		</li>
		<li class="list-group-item list-group-item-action">
			<a href="/dashboard/liked-articles" class="text-white">Article aimés</a>
		</li>
		<li class="list-group-item list-group-item-action">
			<a href="/dashboard/shared-articles" class="text-white">Article commentés</a>
		</li>
	</ul>
</nav>

