{% extends 'base.html.twig' %}
{% block title %}Modifier mon mot de passe
{% endblock %}
{% block body %}
	<h1>Modifier mon mot de passe</h1>

	<div class="row">
		<div class="col-sm-12 col-lg-3">
			{% include 'dashboard/aside.html.twig' %}
		</div>
		<div class="col-sm-12 col-lg-9">
            {{ include('dashboard/_form.html.twig') }}
        </div>
	</div>
{% endblock %}
