<h2>Ajouter un commentaire</h2>
{{ form_start(commentForm) }}
    {{ form_widget(commentForm) }}
    <button class="btn btn-primary btn-lg">{{ button_label|default('Envoyer') }}</button>
{{ form_end(commentForm) }}
